.textoBl_10{
    color:white;
    font-size: 10px;
}
.textoBl_12{
    color:white;
    font-size: 12px;
}
.textoBl_14{
    color:white;
    font-size: 14px;
}
.logeoTxtT{
    width: 100%;float: left;color:#003366;font-size: 12px;text-align: center; height: 30px;
    line-height: 30px;font-weight: bold;
}

.logeoTxt{
    width: 40%;float: left;color:white;font-size: 12px;text-align: right; height: 20px;
    line-height: 18px;
}
.logeoInput{
    width: 60%;float: left;color:white;font-size: 12px;text-align: left; height: 20px;
}
input.box{
    font-family: verdana;
    font-size:10px;
    width: 150px;
    border:1px solid black;
    height: 18px;
}